*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    font-family: 'Roboto Condensed', sans-serif;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin: 0 5px;
}
ul li a{
    position: relative;
    display: block;
    width: 210px;
    height: 80px;
    background: #fff;
    text-align: left;
    padding-left: 20px;
    text-decoration: none;
    transform: rotate(-30deg) skew(25deg);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}
ul li a::before{
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    width: 20px;
    height: 100%;
    background: #b1b1b1;
    transform: skewY(-45deg);
}
ul li a::after{
    content: '';
    position: absolute;
    left: -11px;
    bottom: -20px;
    width: 100%;
    height: 20px;
    background: #b1b1b1;
    transform: skewX(-45deg);
}
ul li a .fa{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    padding-right: 14px;
    transition: 0.5s;
}
ul li a span{
    position: absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: 0.5s;
}
ul li a:hover{
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}
ul li:hover .fa,
ul li:hover span{
    color: #fff;
}
ul li:hover:nth-child(1) a{ background: #3b5998;}
ul li:hover:nth-child(1) a::before{ background: #365492;}
ul li:hover:nth-child(1) a::after{ background: #4a69ad;}

ul li:hover:nth-child(2) a{ background: #00aced;}
ul li:hover:nth-child(2) a::before{ background: #097aa5;}
ul li:hover:nth-child(2) a::after{ background: #53b9e0;}

ul li:hover:nth-child(3) a{ background: #dd4b39;}
ul li:hover:nth-child(3) a::before{ background: #b33a2b;}
ul li:hover:nth-child(3) a::after{ background: #e66a5a;}

ul li:hover:nth-child(4) a{ background: #e4405f;}
ul li:hover:nth-child(4) a::before{ background: #d81c3f;}
ul li:hover:nth-child(4) a::after{ background: #e46880;}